ul.lucz-tasks {
    list-style-type: none !important;
    min-height: 400px;
    padding: 0;
}

.lucz-task {
    cursor: grab;
}

.lucz-task:active {
    cursor: grabbing;
}

.lucz-delete-task {
    position: absolute;
    right: 5px;
    top: 5px;
}