.lucz_btn, .lucz_toDoList{
    position: fixed;
    background-color: #ffffff;
    color: black;
    top: 100px;
    left: 0px;
    padding: 5px 12px 5px 16px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 9999;
    transition: 0.5s all;
}
.lucz_toDoList {
    display: none;
}
.lucz_btn button, .lucz_toDoList button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.lucz_btn:hover, .lucz_toDoList:hover{
    padding: 5px 12px 5px 24px;
}

.modal, .modal-title, .modal-body h1, .card-title, .accordion-header button {
    font-family: "Inter", sans-serif;
}
.modal-title, .modal-body h1 {
    font-weight: bold;
}